.hero {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  background-color: var(--light);
  padding: 1rem 2rem;
  border-radius: 0 0 0.5em 0.5em;
  overflow: hidden;

  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.9rem;
  }

  .hero-header {
    font-weight: var(--font-bold);
    word-break: break-word;
  }

  .hero-intro {
    margin-bottom: 1rem;
    max-width: 90%;
    text-align: justify;
  }

  .hero-right {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .hero-photo {
    width: 18rem;
    height: 30rem;
    object-fit: cover;
    object-position: top;
    transition: all 0.2s ease;
    /* did this because of lazy loading issue extra space */
    margin-bottom: -2rem;
    filter: drop-shadow(3px -2px 5px rgba(43, 43, 43, 0.2))
      drop-shadow(-3px -2px 5px rgba(43, 43, 43, 0.2));
  }
}
