.mobile-menu {
  /* display: none; */
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  padding: 1.25rem;
  z-index: 999;
  background-color: var(--left-nav-bg);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.mobile-menu {
  transition: opacity 0.2s ease, visibility 0.2s ease;
  opacity: 0;
  visibility: hidden;
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
}

.mobile-menu.active ul {
  padding-left: 1rem;
  list-style: none;
}

.mobile-menu.active a {
  text-decoration: none;
  color: var(--dark-gray);
}

.mobile-menu.active a:hover {
  color: var(--primary-clr);
}
