.mobile-nav {
  display: none;
  background-color: var(--left-nav-bg);
  padding: 0.625rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .burger-menu {
    font-size: 1.5rem;
    color: var(--primary-yellow);
    cursor: pointer;
    text-decoration: none;
  }
}
